@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-track {
  animation: scroll 50s linear infinite;
  -webkit-animation: scroll 50s linear infinite;
  width: calc(200px * 40);
  height: 100%;
  display: flex;
  align-items: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
    -webkit-transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 7));
    -webkit-transform: translateX(calc(-200px * 7));
  }
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(100, 20%, 85%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.loader {
  width: 1.5rem;
  height: 1.5rem;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
